/* spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

main color: #087f5b
grey for text: #343a40 */

/* -------------------------------------------------------------------------------------------------------- */

/* global/universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  line-height: 1;
}

/* -------------------------------------------------------------------------------------------------------- */

/* general/reusable styles */

/* -------------------------------------------------------------------------------------------------------- */

/* component styles */
.carrusel {
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  color: #e6fcf5;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  gap: 96px;
  align-items: center;
  position: relative;
}

img {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.quote-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.quote-author {
  font-size: 14px;
  margin-bottom: 4px;
}

.author-job {
  font-size: 12px;
}

.btn {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.btn--left {
  left: 0;
  transform: translate(-50%);
}

.btn--right {
  right: 0;
  transform: translate(50%);
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
}

.dot {
  background-color: #fff;
}

.dot--active {
  background-color: #087f5b;
}