* {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  border: 2px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product::before {
  content: "SALE";
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  width: 80px;
  text-align: center;
  height: fit-content;
  background-color: #ff0000;
  z-index: 1;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgb(238, 238, 238);
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 20px;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline-end: 20px;
}

#price {
  font-size: 24px;
}

#free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  margin-bottom: 20px;
}

#more-info, h3 {
  margin-bottom: 20px;
}

#more-info:visited {
  color: black;
  display: inline-block;
}

#more-info:hover, #more-info:active {
  text-decoration: none;
}

.colors {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors * {
  width: 20px;
  height: 20px;
}

.colors .black {
  background-color: black;
}

.colors .blue {
  background-color: blue;
}

.colors .red {
  background-color: red;
}

.colors .yellow {
  background-color: yellow;
}

.colors .green {
  background-color: green;
}

.colors .brown {
  background-color: brown;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
}

#details-list {
  list-style: square;
  margin-left: 20px;
}

#details-list li {
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: white;
  color: black;
  border-top: 3px solid black;
}
